* {
  box-sizing: border-box;
}

.container {
  width: 1120px;
  margin: 0 auto;
  padding: 0;
  background-color: #efefef;
  padding-bottom: 50px;
}

.header {
  padding: 20px;
}

.mode {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #c4c4c4;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 0 auto;
}

.mode a {
  font-size: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 373px;
  height: 812px;
  border-radius: 19px;
  margin: 0 auto;
}

.dark {
  background-color: #22252d;
}

.light {
  background-color: #ffffff;
}

.line {
  width: 150px;
  border-bottom: 1px solid #c4c4c4;
  padding: 41px;
}

input {
  width: 314px;
  height: 255px;
  border: none;
  outline: none;
  text-align: end;
  font-size: 36px;
  background-color: transparent;
}

.btn__calc {
  display: grid;
  row-gap: 22px;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 373px;
  height: 478px;
  border-radius: 19px;
  margin: 0;
  padding: 26px;
}

.desctop__dark {
  background: #2a2d37;
}

.desctop__light {
  background: #f9f9f9;
}
.btn__box {
  width: 62px;
  height: 62px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border: none;
  font-size: 36px;
}

.box__dark {
  background: #282b33;
  color: white;
}

.box__light {
  background: #f7f7f7;
}

.color1 {
  color: #43efce;
}

.color2 {
  color: #dc6c6e;
}
